
<!DOCTYPE html>
<html ng-app="ionicApp">

  <head>
    <link data-require="ionic@1.0.0-beta6" data-semver="1.0.0-beta6" rel="stylesheet" href="http://code.ionicframework.com/1.0.0-beta.6/css/ionic.css" />
    <script data-require="ionic@1.0.0-beta6" data-semver="1.0.0-beta6" src="http://code.ionicframework.com/1.0.0-beta.6/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource.js"></script> 
 
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
   <script src="js/apps/app_a.js"></script> 
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>




    <ion-nav-view></ion-nav-view>

    <script type="text/ng-template" id="main.html">
      <ion-nav-bar class="bar bar-header bar-light">
      </ion-nav-bar>
      
      <ion-tabs class="tabs-stable tabs-top tabs-icon-only tabs-color-positive" ng-controller="TabsCtrl" ng-class="{'tabs-item-hide': hideTabs}">
        <ion-tab ui-sref="app.todos">
          <ion-nav-view name="todos"></ion-nav-view> 
        </ion-tab>
        
        
        
      </ion-tabs>
    </script>


<!-- <a class="item" href="#" onclick="window.open('http://www.nraboy.com/contact', '_blank', 'location=yes'); return false;">
                Open a Browser
            </a> -->

    <script type="text/ng-template" id="todos.html">

      <ion-view title="Top News Top Comments">
        <ion-content>
          <ion-list type="card">

            <ion-item ng-repeat-start="article in articles track by article.id" class="card item-text-wrap">


                       <img ng-src="http://d2invxie986h3w.cloudfront.net/{{article.img}}" class="full-image" />
                       
                       <h2 ng-bind-html=" articles[article.id] | urlToJS "></h2>

                      <p>{{article.topComment}} </p>      

                     
                    
                     <div class="button-bar">
                          <a class="button-small ion-chevron-up"> {{article.score}}</a>
                          <a class="button-small ion-chatbubbles"> {{article.topCommentNum}}</a>
                          <a class="button-small">{{article.pub}} </a>
                          <a class="button-small">{{article.tag}}</a>
                          <my-directive> </my-directive>
                         <!-- <a class="button-small" ng-click="clickShare(article)" the-click="">Share</a> -->
                      </div>

                   <div my-dice>{{someTitle}}</div>
                    
      


            </ion-item>

              <div ng-repeat-end> </div>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="todo.html">
      <ion-view title="Todo">
        <ion-content>
            <div class="item">
              <p>{{todo.title}}</p>
            </div>

            <div class="item item-checkbox">
              <div>
                <label class="checkbox">
                  <input type="checkbox" ng-model="todo.done">
                </label>
                Done
              </div>

            </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="help.html">
      <ion-view title="Home">
        <ion-content padding="true">
           <h2>Using the app</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis architecto hic officia quasi excepturi sequi deleniti maiores consectetur veritatis sint?</p>
        </ion-content>
      </ion-view>
    </script>
  </body>
</html>
